pandas
numpy
seaborn
matplotlib
statsmodels
scipy
category_encoders
ipykernel
scikit-learn
xgboost
imbalanced-learn
dill
Flask
beautifulsoup4
lxml
streamlit
mlflow==2.16.0
pymongo[tls,srv]
-e .